# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Build tools / wrappers
mvnw
mvnw.cmd
.gradle/
/build/

# Java
*.class

# Others
.env
*.swp
